{% extends "./form.html" %}

{% block body %}
<form action="" method="POST">
    <label for="old_name">Nombre viejo</label>
    <input type="text" id="old_name" name="old_name" /><br>

    <label for="old_email">Email viejo</label>
    <input type="email" id="old_email" name="old_email" /><br>

    <label for="new_name">Nombre nuevo</label>
    <input type="text" id="new_name" name="new_name" /><br>

    <label for="new_email">Email nuevo</label>
    <input type="email" id="new_email" name="new_email" /><br>

    <input type="submit" id="send-user" name="update_user" value="Enviar">
</form>
{% endblock %}